/* * {
    box-sizing: border-box;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #211f4e !important;
}
.menu-icon {
    position: relative;
    width: 45px;
    height: 35px;
    padding: 5px;
    cursor: pointer;
}
.menu-icon input {
    display: none;
}
.menu-icon span {
    display: block;
    position: relative;
    height: 3px;
    width: 100%;
    background: #211f4e;
    border-radius: 10px;
    opacity: 1;
    left: 0;
    margin-bottom: 18%;
    transition: 0.3s ease-in-out;
}   
.menu-icon span {
    transform-origin: left center;
}   
.menu-icon input:checked ~ span {
    background: red;
    left: 5px;
    margin-bottom: 28%;
}   
.menu-icon input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
}
.menu-icon input:checked ~ span:nth-of-type(2) {
    opacity: 0;
}
.menu-icon input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
}
.title {
    color: #00e189;
}
.title span {
    color: #606fac;
}
a {
    text-decoration: none !important;
}
.nav-item a {
    color: #00e189;
}
.hero-section {
    padding: 60px 0px 30px 0px;
}
.hero-section p {
    font-size: 17px;
}
.color-one {
    color: #211f4e;
}
.color-two {
    color: #606fac;
}
.color-three {
    color: #00e189;
}
.bg-one {
    background-color: #211f4e;
}
.bg-two {
    background-color: #606fac;
}
.bg-three {
    background-color: #00e189;
}
.g-button {
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
}
.g-button::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #606fac 0%, #00e189 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}
.g-button:hover::before {
    width: 9em;
}
.cssbuttons-io-button {
    background: #00e189;
    color: #fff;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #00e189;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
}
.cssbuttons-io-button .icon {
    background: #f8efea;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #00e189;
    right: 0.3em;
    transition: all 0.3s;
} 
.cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
}
.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #00e189;
}
.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}
.cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}
.radius-one {
    border-radius: 25px;
}
.radius-two {
    border-radius: 10px;
}
.white-div {
    border-bottom: 2px solid #00e189;
    margin-top: -50px;
}
.highlight-div {
    width: 300px;
    height: 250px;
    border-radius: 15px;
}
.bg-white {
    background-color: #fff;
}
.accordion-body {
    background-color: #606fac;
}
.accordion-button {
    color: #00e189 !important;
}
.accordion-item {
    background-color: #f9ede7 !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
}
.footer-socials {
    display: flex;
    gap: 12px;
}
.footer-socials-each-div {
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
    box-shadow:1px 7px 18px #c4c4c4a8;
}
.footer-socials-each-div:hover {
    background-color: rgb(12, 76, 224);
    transition: .3s;
}
.footer-socials-each-div:hover .media2 {
    color: white !important;
}
.media2 {
    margin-top: 16px;
    margin-left: 18px;
}
.footer {
    background: linear-gradient(to top, #f7e8e1, #f9ede7, white);
    gap: 20px !important;
    border-top: 2px solid rgb(238, 238, 238) !important;
}
footer a, p {
    text-decoration: none;
    color: rgba(63, 63, 63, 0.84);
}
footer .footer-links p {
    line-height: 25px !important;
}
.links {
    margin-top: 18px !important;
    margin-bottom: 38px !important;
    color: rgb(12, 76, 224);
}
.copyright {
    padding: 6px;
    margin-top: 20px !important;
}
.copyright p {
    font-size: 14px !important;
    margin-top: 15px;
    color: rgb(234, 234, 234) !important;
}
.up-btn {
    position: relative;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    border: 2px solid rgb(238, 238, 238) !important;
    font-size: 20px;
    display: grid;
    place-items: center;
    margin: auto;
    margin-top: 80px;
    margin-bottom: -30px;
    background-color: white;
    color: rgb(159, 159, 159);;
}
.up-btn:hover {
    background-color: rgb(1, 78, 179);
    border: 2px solid rgb(1, 78, 179) !important;
    color: white;
}
#up-btn2 {
    position:fixed;
    bottom:10px;
    right:20px;
    width: 40px;
    height: 40px;
    background-color: rebeccapurple;
    color: white;
    padding: 5px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    display: none;
}
#up-btn2:hover {
    background-color: rgb(1, 78, 179);
}
.arrow {
    color: rgb(12, 76, 224);
    display: none;
}
.arrow-link {display: inline-block;}
.arrow-link:hover .arrow {
    display: inline-block;
    transition: 5s;
}





section {
    display: flex;
    gap: 20px;
}
.box {
    width: 150px;
    height: 80px;
    margin-bottom: 15px;
} */


:root {
    font-size: 24px;
  }
  
  body {
    background: #1488cc;
    /* fallback for old browsers */
    background: linear-gradient(to left, #283593, #1976d2);
    height: 100vh;
    font-family: "Josefin Sans", sans-serif;
  }
  
  /* Background circles start */
  .circle {
    position: absolute;
    border-radius: 50%;
    background: radial-gradient(#006db3, #29b6f6);
  }
  .circles {
    position: absolute;
    height: 270px;
    width: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .circle-1 {
    height: 180px;
    width: 180px;
    top: -50px;
    left: -60px;
  }
  .circle-2 {
    height: 200px;
    width: 200px;
    bottom: -90px;
    right: -90px;
    opacity: 0.8;
  }
  /* Background circles end */
  
  .card-group {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .card {
    position: relative;
    height: 270px;
    width: 450px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  
  .logo img,
  .chip img,
  .number,
  .name,
  .from,
  .to,
  .ring {
    position: absolute; /* All items inside card should have absolute position */
  }
  
  .logo img {
    top: 35px;
    right: 40px;
    width: 80px;
    height: auto;
    opacity: 0.8;
  }
  
  .chip img {
    top: 120px;
    left: 40px;
    width: 50px;
    height: auto;
    opacity: 0.8;
  }
  
  .number,
  .name,
  .from,
  .to {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    letter-spacing: 2px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  }
  
  .number {
    left: 40px;
    bottom: 65px;
    font-family: "Nunito", sans-serif;
  }
  
  .name {
    font-size: 0.5rem;
    left: 40px;
    bottom: 35px;
  }
  
  .from {
    font-size: 0.5rem;
    bottom: 35px;
    right: 110px;
  }
  
  .to {
    font-size: 0.5rem;
    bottom: 35px;
    right: 40px;
  }
  
  /* The two rings on the card background */
  .ring {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background: transparent;
    border: 50px solid rgba(255, 255, 255, 0.1);
    bottom: -250px;
    right: -250px;
    box-sizing: border-box;
  }
  
  .ring::after {
    content: "";
    position: absolute;
    height: 600px;
    width: 600px;
    border-radius: 50%;
    background: transparent;
    border: 30px solid rgba(255, 255, 255, 0.1);
    bottom: -80px;
    right: -110px;
    box-sizing: border-box;
  }
  