* {
    box-sizing: border-box;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #f9ede7;
    /* overflow-x: hidden; */
}
.menu-icon {
    position: relative;
    width: 45px;
    height: 35px;
    /* background: rgb(0, 0, 0); */
    padding: 5px;
    cursor: pointer;
}
.menu-icon input {
    display: none;
}
.menu-icon span {
    display: block;
    position: relative;
    height: 3px;
    width: 100%;
    background: #211e5b;
    border-radius: 10px;
    opacity: 1;
    left: 0;
    margin-bottom: 18%;
    transition: 0.3s ease-in-out;
}   
.menu-icon span {
    transform-origin: left center;
}   
.menu-icon input:checked ~ span {
    background: red;
    left: 5px;
    margin-bottom: 28%;
}   
.menu-icon input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
}
.menu-icon input:checked ~ span:nth-of-type(2) {
    opacity: 0;
}
.menu-icon input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
}
.title {
    color: #00e189;
}
.title span {
    color: #606fac;
}
a {
    text-decoration: none !important;
}
.nav-item a {
    color: #00e189;
}
.welcome-div {
    /* margin-top: -20px; */
}
.hero-section p {
    font-size: 17px;
}
.color-one {
    color: #211e5b;
}
.color-two {
    color: #606fac;
}
.color-three {
    color: #00e189;
}
.color-four {
    color: #f9ede7;
}
.bg-one {
    background-color: #211e5b;
}
.bg-two {
    background-color: #606fac;
}
.bg-three {
    background-color: #00e189;
}
.bg-four {
    background-color: #f9ede7;
}
.g-button {
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
}
.g-button::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #606fac 0%, #00e189 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}
.g-button:hover::before {
    width: 9em;
}
.cssbuttons-io-button {
    background: #00e189;
    color: #fff;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #00e189;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
}
.cssbuttons-io-button .icon {
    background: #f8efea;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #00e189;
    right: 0.3em;
    transition: all 0.3s;
} 
.cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
}
.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #00e189;
}
.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}
.cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}
.radius-one {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}
.radius-two {
    border-radius: 25px;
}
.radius-three {
    border-radius: 10px;
}
.radius-four {
    border-radius: 7px;
}
.we-do-div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 45px;
    height: 45px; 
    top: 0;
    left: 0;
}
.white-div {
    /* box-shadow: 0 20px 30px -7px #f9ede74e; */
    border-bottom: 2px solid #00e189;
    margin-top: -50px;
}
.bg-white {
    background-color: #fff;
}
.accordion-body {
    background-color: #606fac;
}
.accordion-button {
    color: #211e5b !important;
}
.accordion-item {
    background-color: #f9ede7 !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    /* border-bottom: 1px solid white !important; */
}
table tbody td {
    color: #211e5b;
}
.footer-socials {
    display: flex;
    gap: 12px;
}
.footer-socials-each-div {
    width: 45px;
    height: 45px;
    background: #f9ede7;
    border-radius: 50%;
    box-shadow: 0 20px 30px -7px rgba(97, 118, 238, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-socials-each-div:hover {
    background-color: #ecd6cb;
    transition: .3s;
}
.footer-socials-each-div:hover .media2 {
    color: #a83e09 !important;
}
.footer {
    border-top: 1px solid rgb(238, 238, 238) !important;
}
footer a, p {
    text-decoration: none;
    color: #f9ede7;
}
footer .footer-links p {
    line-height: 25px !important;

}
.copyright {
    padding: 6px;
}
.copyright p {
    font-size: 14px !important;
    margin-top: 15px;
    color: rgb(234, 234, 234) !important;
}
.up-btn {
    position: relative;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid rgb(238, 238, 238) !important;
    font-size: 20px;
    display: grid;
    place-items: center;
    margin: auto;
    margin-top: 80px;
    margin-bottom: -30px;
    background-color: #f9ede7;
    color: rgb(159, 159, 159);;
}
.up-btn:hover {
    background-color: #606fac;
    border: 2px solid #606fac !important;
    color: #f9ede7;
}
#up-btn2 {
    position:fixed;
    bottom:10px;
    right:20px;
    width: 40px;
    height: 40px;
    background-color: #1a183e;
    color: #f9ede7;
    padding: 5px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    /* display: none; */
}
#up-btn2:hover {
    background-color: #211e5b;
}
.arrow {
    color: #00e189;
    display: none;
}
.arrow-link {display: inline-block;}
.arrow-link:hover .arrow {
    display: inline-block;
    transition: 5s !important;
}
.wp-div-mobile {
    display: none;
}
.wp-img2 {
    position: relative;
}
.wp-img2 img {
    position: absolute;
    bottom: 0;
}
.wp-img2 .scaled-wp-img {
    bottom: -22px !important;
}
.assistant {
    transform: translateY(30px);
}
.wp-container {
    position: relative;
    z-index: 1;
}
.blue-body-div {
    position: relative;
    margin-top: -25px;
    z-index: 1;
}
.bg-hero {
    display: none;
}
.progress-mobile {
    display: none;
}
.action-mobile {
    display: none;
}
.greeting-mobile {
    position: relative; 
    z-index: 10;
    display: none;
}
.link-div {
    position: absolute; 
    bottom: 0px;
}
footer {
    position: fixed; 
    bottom: 0; 
    width: 100%;
    display: none;
}
#mySidebar2 {
    position: relative;
    display: none !important;
    z-index: 100;
}
@media screen and (max-width: 550px) {
    .wp-img {
        position: relative;
        width: 48% !important;
        height: 120px !important;
    }
    .wp-img img, .wp-img1 img {
        position: absolute;
        bottom: 0;
    }
    .wp-img1 {
        height: 130px !important;
    }
    .wp-div-mobile {
        display: block;
    }
    .wp-div-large {
        display: none;
    }
    .assistant {
        transform: translate(100px, -120px) !important;
    }
    .wp-container {
        margin-top: -161px;
    }
    #mySidebar {
        width: 0% !important;
    }
    #main {
        height: 100% !important;
        margin-left: 0% !important;
        border-top-left-radius: 0px !important;
        overflow: scroll;
    }
    .link-div {
        position: relative !important;
        bottom: auto !important;
        margin: 25px 0 100px 0 !important;
    }
    .link {
        display: block;
    }
    .bg-hero {
        display: block;
        background: #211e5b;
        height: 200px;
        border-radius: 0 0 25px 25px;
    }
    .greeting, .fa-bars, .dropdown-toggle {
        color: white !important;
    }
    .greeting {
        display: none;
    }
    .progress-large {
        display: none;
    }
    .progress-mobile {
        display: block;
        overflow: scroll;
        margin-bottom: 30px;
    }
    .action-mobile {
        display: block;
        position: relative;
        z-index: 10;
        margin-top: -10px;
    }
    .action-large {
        display: none;
    }
    .greeting-mobile {
        display: block;
    }
    .progress2 {
        margin-top: 10px;
    }
    .tasks-div {
        margin-bottom: 25px !important;
    }
    .card-div {
        background-color: transparent !important;
        box-shadow: none !important;
        margin-top: -30px;
    }
    .submit-withdrawals-form {
        margin-bottom: 100px;
    }
    .update-bank-div {
        padding: 0 .8rem 0 .8rem !important;
        margin: 120px 0 100px 0 !important;
    }
    /* .sidebar-toggler {
        display: none;
    } */
    footer {
        display: block;
    }
    
}

@media screen and (max-width: 350px) {
    .assistant {
        transform: translate(100px, -100px) !important;
    }
}


/* Dashboard */
.sidenav-nav, .mobile-sidenav-nav {
    position: relative;
}
.sidenav-nav li, .mobile-sidenav-nav li {
    white-space: nowrap;
    padding: 10px 17px 10px 17px;
    border-radius: 25px;
    margin-bottom: 5px;
}
.sidenav-nav .unactive-item:hover, .mobile-sidenav-nav .unactive-item:hover {
    background: #ffffff19;
}
.sidenav-nav li a, .mobile-sidenav-nav li a {
    display: flex;
    gap: 15px;
    color: #f9ede7;
}
.sidenav-nav li a ion-icon, .mobile-sidenav-nav li a ion-icon {
    transform: translateY(6px);
    font-size: 16px;
}
.sidenav-nav .logout, .mobile-sidenav-nav .logout {
    position: absolute;
    bottom: 10px;
    width: 100%;
}
.active-item {
    position: relative;
    background-color: rgba(159, 253, 17, 0.973);
}
.active-item a {
    color: #211e5b !important;
}
.active-item::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    border-radius: 25px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.142), rgba(255, 255, 255, 0.233), rgba(255, 255, 255, 0.297));
    box-sizing: border-box;
}
#mySidebar {
    width: 19.2%;
    float: left; 
    transition: width .8s; 
    overflow-x: hidden; 
    height: 100vh;
    position: relative;
}
#myMobileSidebar {
    width: 50%;
    overflow-x: hidden;
    height: 100vh;
    position: relative;
    /* display: block; */
}
#main {
    position: relative;
    margin-left: 19.2%; 
    transition: margin-left .8s, border-radius .8s;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 100vh;
    color: #211e5b;
    overflow-y: scroll;
}
.dashboard-nav .dropdown-toggle::after {
    color: #211e5b;
}
.progress-div {
    padding: 20px 0;
    box-shadow: 4px 8px 15px rgba(0, 0, 0, 0.116);
    position: relative;
    overflow: hidden; /* Added */
}
.progress-div::after {
    content: "";
    position: absolute;
    height: 200px;
    width: 250px;
    top: 40px;
    right: -80px;
    border-radius: 50%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.142), rgba(255, 255, 255, 0.233), rgba(255, 255, 255, 0.297));
    transform: translate(0px, -50px);
    box-sizing: border-box;
}
.atm {
    position: relative;
    height: 200px;
    background-size: cover;
    /* background-color: #eeeeee46; */
    background-image: linear-gradient(45deg, #631936, #bb1923, #9f2364);
    overflow: hidden;
    border-radius: 20px;
}
.ring1 {
    position: absolute;
    width: 100%;
    height: 200px;
    top: 0;
    left: 0;
    /* border-radius: 50%; */
    /* background-image: linear-gradient(45deg, rgb(0, 130, 195), rgb(7, 143, 255)); */
    background-color: #eeeeee2b;
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
    /* transform: rotate(26deg) translate(-80px, -60px); */
}
.ring2 {
    position: absolute;
    width: 180px;
    height: 180px;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    /* background-image: linear-gradient(45deg, rgb(93, 199, 253), rgb(7, 143, 255)); */
    background-color: #f9ede7;
    transform: rotate(65deg) translateX(80px);
}
/* The two rings on the card background */
.ring {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background: transparent;
    border: 40px solid rgba(255, 255, 255, 0.1);
    transform: translate(150px, -50px);
    box-sizing: border-box;
}
.ring::after {
    content: "";
    position: absolute;
    height: 450px;
    width: 450px;
    border-radius: 50%;
    background: transparent;
    border: 30px solid rgba(255, 255, 255, 0.1);
    bottom: -80px;
    right: -100px;
    box-sizing: border-box;
}
.chip img {
    top: 120px;
    left: 40px;
    width: 50px;
    height: auto;
    opacity: 0.8;
}
.atm-content {
    /* width: 350px; */
    height: 200px;
    /* box-shadow: 4px 8px 15px rgba(0, 0, 0, 0.034); */
    /* background: rgba( 255, 255, 255, 0.05 ); */
    backdrop-filter: blur( 16.5px );
    -webkit-backdrop-filter: blur( 16.5px );
    border: 1px solid rgba(211, 210, 210, 0.18);
}
.bg-one-faint {
    background-color: #343078a9;  
}
.bg-two-faint {
    background-color: #8095e834;
    border: 1px solid #606fac;
}
.bg-three-faint {
    background-color: rgb(92, 240, 183);
}
.bg-green {
    background-color: greenyellow;
}
.bg-five {
    background-color: #9f2364;
}
.bg-six {
    background-color: #bb1923;
}
.bg-seven {
    background-color: #631936;
}
.bg-eight {
    background-color: #211e5b;
}
.bg-gold {
    background-color: rgb(247, 182, 19);
}
.button {
    background-color: #8095e821;
    border: none;
}
.shadow {
    /* box-shadow: 1px 1px 60px 8px rgba(153, 247, 206, 0.1) !important; */
    box-shadow: 0px 0px 0px 70px rgb(0, 0, 0, 0.01) !important;
}
.icon-div {
    width: 60px;
    height: 50px;
    border-radius: 10px;
}
.hamburger {
    cursor: pointer;
}
  
.hamburger input {
    display: none;
}

.hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 2.3em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
              stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
    transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}